
.title{
    margin: 0px;
}

.author{
    margin: 0px;
}

.img{
    width: 30px;
}


/* article container styling (default)*/
.img-div{
    grid-area: img;
}
.text-container{
    grid-area: text;
}
.link-div{
    height: 100%;
    max-width: 37.4375rem;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas: 
    'img'
    'text';
}
.article-div:nth-child(n+4) .link-div{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
    'img text';
}



/* Text grid area styles */
.text-container{
    display: grid;
    grid-template-areas: '. title .' 'source . date';
}
.title-div{
    grid-area: title;
}
.source-div{
    grid-area: source;
}
.date-div{
    grid-area: date;
}



/* Article layout when the screen width > 600px */
@media only screen and (min-width:600px){
    .article-div:nth-child(-n+6) .link-div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas: 
        'img'
        'text';
    }
    .article-div:nth-child(n+7) .link-div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas: 'text';
    }
    .article-div:nth-child(n+7) .link-div .img-div{
        display: none;
    }
}

/* Article layout when the screen width > 900px */
@media only screen and (min-width:900px){
    
    .article-div:nth-child(n+6) .link-div .img-div{
        display: none;
    }
}