.banner-link-div{
    display: flex;
    border: .3rem solid #1B1B1B;
    text-decoration: none;
    flex-direction: column;
}
.banner-div{
    width: 100%;
}
.banner-img{
    background-position: center;
    background-size: cover;
    min-height: 15rem;
    box-shadow: 0 -60px 50px #ddd06c inset;
    /* width: 100%; */
}
.banner-details{
    background-color: #ddd06c;
    color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
}

.banner-title{
    font-size: 1rem;
    text-align: center;
}

@media only screen and (min-width:599px){
    .banner-link-div{
        flex-direction: row;
    }
    .banner-img{
        box-shadow: -60px 0 50px #ddd06c inset;
        width: 55%;
    }
    .banner-details{
        padding-top: 1rem;
        padding-right: 1rem;
        width: 45%;
        justify-content: space-between;
    }
}