.content-container{
    margin: 0px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-container{
    padding: 10px;
}


.article-div{
    background-color: olive;
    height: auto;
}




.banner-container{
    width: 63rem;
}






/* Article layout for screens < 500px (default)*/
.articles-container{
    max-width: 63rem;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
    'a1 a1'
    'a2 a3'
    'a4 a4'
    'a5 a5'
    'a6 a6'
    'a7 a7'
    'a8 a8'
    'a9 a9';

    gap: 10px
}
.article-div:nth-child(1){
    grid-area: a1;
}
.article-div:nth-child(2){
    grid-area: a2;
}
.article-div:nth-child(3){
    grid-area: a3;
}
.article-div:nth-child(4){
    grid-area: a4;
}
.article-div:nth-child(5){
    grid-area: a5;
}
.article-div:nth-child(6){
    grid-area: a6;
}
.article-div:nth-child(7){
    grid-area: a7;
}
.article-div:nth-child(8){
    grid-area: a8;
}
.article-div:nth-child(9){
    grid-area: a9;
}


/* Article layout for screens > 600px */
@media only screen and (min-width:600px) {
    .articles-container{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
        'a1 a1 a2'
        'a1 a1 a3'
        'a4 a5 a6'
        'a7 a8 a9';
    }
}

/* Article layout for screens > 900px */
@media only screen and (min-width:900px) {

    .content-container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .articles-container{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: 
        'a1 a1 a2 a3'
        'a1 a1 a4 a5'
        'a6 a7 a8 a9';
    }
}

/* Article layout for screens > 1280px */
@media only screen and (min-width:1280px) {
    .articles-container{
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-areas: 
        'a1 a1 a2 a3 a6'
        'a1 a1 a2 a3 a7'
        'a1 a1 a4 a5 a8'
        'a1 a1 a4 a5 a9';
    }
}