.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width:500px) {
    .content-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}