.rolling-container{
    background-color: #ddd06c;
    height: 2rem;
    border: .5rem solid #1B1B1B;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 62rem;
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.rolling-div{
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

.rolling-text{
    background-repeat: repeat;
}

@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}